# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Optional npm cache directory
.npm

# Dependency directories
/node_modules


# Optional eslint cache
.eslintcache

# Build generated
dist/
build/

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# envoirment
.env